<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1>Novo/Atualizar Produto</h1>
    <form method="POST">
        {%csrf_token%}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>
    {% if product %}
    <a href="{% url 'delete_product' product.id %}">Deletar</a>
    {% endif %}
</body>
</html>